In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Polyguilt_raw_4k_to_fiverr_ali_v1.csv')

In [3]:
data.head()

,id,title,content,label
0,4575,"My friend died a few weeks ago, I needed to ge...",A few weeks ago my friend recently died of can...,No Guilt
1,11319,Gf doesn’t satisfy me,My gf doesn’t satisfy me sexually enough .. \n...,No Guilt
2,3274,way to jealous,i’m gonna call myself G and my boyfriend K for...,Existential
3,4875,I am out of options and considering final opti...,I lost my job because of a mental breakdown in...,No Guilt
4,1024,I go out of my way to be extra nice to the mos...,Whenever I notice someone working in customer ...,Existential

In [4]:
data.count()

id         4000
title      4000
content    4000
label      4000
dtype: int64

In [5]:
# Group by 'title' and collect unique 'label' values for each title
title_label_groups = data.groupby('title')['label'].unique()
# Find titles with different labels
differing_titles = title_label_groups[title_label_groups.apply(len) > 1]

# Filter original DataFrame based on differing titles
result = data[data['title'].isin(differing_titles.index)]
df = pd.DataFrame(result)
df = df.sort_values(by='title')
df
# df.to_csv('output.csv', index=False)

,id,title,content,label
1153,4203,I messed up,I have never been l(o)ved and never will be ca...,Anticipatory
3555,7655,I messed up,I left my phone with a drink friend and now I ...,Reactive
43,2822,Lost,this morning i lost something very valuable to...,Reactive
1513,6935,Lost,I’m sitting in the bathroom while he lays in b...,Existential
3268,4559,Lost,They say it's the last great journey \nI cant ...,No Guilt
449,92,"Select [Tough Love], [Support Only], or none f...",Select ONLY ONE: \n\n[Traditional]: If you fee...,Reactive
1415,101,"Select [Tough Love], [Support Only], or none f...",I've been really disappointed with sex with my...,Existential
2078,212,"Select [Tough Love], [Support Only], or none f...",[remorse]\nSo if you read my last confession y...,No Guilt

In [6]:
# Group by 'title' and collect unique 'label' values for each title
title_label_groups2 = data.groupby('content')['label'].unique()
# Find titles with different labels
differing_titles2 = title_label_groups2[title_label_groups2.apply(len) > 1]

# Filter original DataFrame based on differing titles
result2 = data[data['content'].isin(differing_titles2.index)]
df2 = pd.DataFrame(result2)
df2 = df2.sort_values(by='title')
df2

Empty DataFrame
Columns: [id, title, content, label]
Index: []

In [7]:
# df2.to_csv('output3.csv', index=False)

In [8]:
column_name = 'title'
unique_rows_count = df2[column_name].nunique()

print(f"Number of rows with unique '{column_name}' values: {unique_rows_count}")

Number of rows with unique 'title' values: 0

In [9]:
data = pd.read_csv('Polyguilt_raw_4k_to_fiverr_marked.csv')

In [10]:
data.head()

,id,title,content,label
0,4575,"My friend died a few weeks ago, I needed to ge...",A few weeks ago my friend recently died of can...,No Guilt
1,11319,Gf doesn’t satisfy me,My gf doesn’t satisfy me sexually enough .. \n...,No Guilt
2,3274,way to jealous,i’m gonna call myself G and my boyfriend K for...,Existential
3,4875,I am out of options and considering final opti...,I lost my job because of a mental breakdown in...,No Guilt
4,1024,I go out of my way to be extra nice to the mos...,Whenever I notice someone working in customer ...,Existential

In [11]:
data.count()

id         4000
title      4000
content    4000
label      4000
dtype: int64

In [12]:
# Group by 'title' and collect unique 'label' values for each title
title_label_groups2 = data.groupby('content')['label'].unique()
# Find titles with different labels
differing_titles2 = title_label_groups2[title_label_groups2.apply(len) > 1]

# Filter original DataFrame based on differing titles
result2 = data[data['content'].isin(differing_titles2.index)]
df2 = pd.DataFrame(result2)
df2 = df2.sort_values(by='title')
df2

Empty DataFrame
Columns: [id, title, content, label]
Index: []

In [13]:
column_name = 'title'
unique_rows_count = df2[column_name].nunique()

print(f"Number of rows with unique '{column_name}' values: {unique_rows_count}")

Number of rows with unique 'title' values: 0

In [7]:
data = pd.read_csv('1000-2000.csv')

In [8]:
data.head()

,id,title,content,label
0,1650,The Guy I'm Hooking Up With is Enthralling,Fucking hell. I've been sleeping with another ...,No Guilt
1,7895,I’m Struggling to Stay Afloat,"I’m a divorced father with a good job, but I’m...",No Guilt
2,1325,I met this guy. We’re starting to become frien...,I’m just gonna get this out of the way-he’s th...,No Guilt
3,2985,I found out a while ago that my husband likes ...,I recently decided to try it for him by wettin...,No Guilt
4,1319,I remember most people’s names,I have a fairly good memory and I remember mos...,No Guilt

In [9]:
data.count()

id         1000
title      1000
content    1000
label      1000
dtype: int64

In [10]:
# Group by 'title' and collect unique 'label' values for each title
title_label_groups = data.groupby('title')['label'].unique()
# Find titles with different labels
differing_titles = title_label_groups[title_label_groups.apply(len) > 1]

# Filter original DataFrame based on differing titles
result = data[data['title'].isin(differing_titles.index)]
df = pd.DataFrame(result)
df = df.sort_values(by='title')
df

Empty DataFrame
Columns: [id, title, content, label]
Index: []

In [11]:
# Group by 'title' and collect unique 'label' values for each title
title_label_groups2 = data.groupby('content')['label'].unique()
# Find titles with different labels
differing_titles2 = title_label_groups2[title_label_groups2.apply(len) > 1]

# Filter original DataFrame based on differing titles
result2 = data[data['content'].isin(differing_titles2.index)]
df2 = pd.DataFrame(result2)
df2 = df2.sort_values(by='title')
df2

Empty DataFrame
Columns: [id, title, content, label]
Index: []

In [3]:
data = pd.read_csv('2000-3000.csv')

In [4]:
data.head()

,id,title,content,label
0,2330,I fucking hate listening to her,She keeps sending me audios on whatsapp that a...,No Guilt
1,1464,I really enjoy figuring out where youtubers li...,One of my favorite things to do is to watch a ...,No Guilt
2,9896,Someone called me a schizoid...,I don’t know what’s wrong with me mentally but...,No Guilt
3,11638,I'm going to stop cheating on my wife!,I started last year when her sex drive plummet...,No Guilt
4,8749,"I mass downvote ""competing"" comments.",For context I am a huge karmawhore. \n\nWhen i...,No Guilt

In [5]:
data.count()

id         1000
title      1000
content    1000
label      1000
dtype: int64

In [6]:
# Group by 'title' and collect unique 'label' values for each title
title_label_groups = data.groupby('title')['label'].unique()
# Find titles with different labels
differing_titles = title_label_groups[title_label_groups.apply(len) > 1]

# Filter original DataFrame based on differing titles
result = data[data['title'].isin(differing_titles.index)]
df = pd.DataFrame(result)
df = df.sort_values(by='title')
df

Empty DataFrame
Columns: [id, title, content, label]
Index: []

In [7]:
# Group by 'title' and collect unique 'label' values for each title
title_label_groups2 = data.groupby('content')['label'].unique()
# Find titles with different labels
differing_titles2 = title_label_groups2[title_label_groups2.apply(len) > 1]

# Filter original DataFrame based on differing titles
result2 = data[data['content'].isin(differing_titles2.index)]
df2 = pd.DataFrame(result2)
df2 = df2.sort_values(by='title')
df2

Empty DataFrame
Columns: [id, title, content, label]
Index: []

In [2]:
data = pd.read_csv('3000-4000.csv')

In [3]:
data.head()

,id,title,content,label
0,4575,"My friend died a few weeks ago, I needed to ge...",A few weeks ago my friend recently died of can...,No Guilt
1,11319,Gf doesn’t satisfy me,My gf doesn’t satisfy me sexually enough .. \n...,No Guilt
2,3274,way to jealous,i’m gonna call myself G and my boyfriend K for...,Existential
3,4875,I am out of options and considering final opti...,I lost my job because of a mental breakdown in...,No Guilt
4,1024,I go out of my way to be extra nice to the mos...,Whenever I notice someone working in customer ...,No Guilt

In [4]:
data.count()

id         1000
title      1000
content    1000
label      1000
dtype: int64

In [5]:
# Group by 'title' and collect unique 'label' values for each title
title_label_groups = data.groupby('title')['label'].unique()
# Find titles with different labels
differing_titles = title_label_groups[title_label_groups.apply(len) > 1]

# Filter original DataFrame based on differing titles
result = data[data['title'].isin(differing_titles.index)]
df = pd.DataFrame(result)
df = df.sort_values(by='title')
df

Empty DataFrame
Columns: [id, title, content, label]
Index: []

In [6]:
# Group by 'title' and collect unique 'label' values for each title
title_label_groups2 = data.groupby('content')['label'].unique()
# Find titles with different labels
differing_titles2 = title_label_groups2[title_label_groups2.apply(len) > 1]

# Filter original DataFrame based on differing titles
result2 = data[data['content'].isin(differing_titles2.index)]
df2 = pd.DataFrame(result2)
df2 = df2.sort_values(by='title')
df2

Empty DataFrame
Columns: [id, title, content, label]
Index: []